<div class="shopping-cart">
  <%= render "shopping_cart" %>

  <% if @order_items.size == 0 %>
  <% else %>
  <%= form_for @order do |t|%>
  <div class="text-right">
      <%= t.hidden_field  :order_status_id, value: 3%>
      <%=t.submit "Create order"%>
  </div>
  <%end%>
 <%end%>
</div>