<h1>Edit category</h1>

<div class = "my_input_view">
<%= simple_form_for @category do |f| %>

    <p>Category name: <br/><%= f.input :category_name %></p>

    <p><%= f.submit "Save" %></p>

<%end%>
</div>