<h1>Create new Categories</h1>
<div class = "my_input_view">
<%= simple_form_for @category do |f| %>

    <p><br/><%= f.input :category_name %></p>

    <p><%= f.submit "Create Category" %></p>


<%end%>
</div>